  
.blog_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
  background-color: #4070f4;
  color: #ffffff;
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  left: 25px;
  bottom: -15px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #4070f4;
  margin: 0;
  text-align: center;
  border: 3px solid #ffffff;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  margin-top: 10px;
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: #f89646;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #f89646;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog_section .box .detail-box a:hover {
  background-color: transparent;
  color: #f89646;
}
